.animationColor {
    animation: color-me-in 1.5s;
}

.animationScores{
    animation:scale-scores 1s;
}
@keyframes color-me-in {

    0% {
        transform: scale(25%);
        background: orange;
    }

    100% {        
        transform: scale(100%);
        background: black;
    }
}
@keyframes scale-scores {

    0% {
        transform: scale(25%);        
    }

    100% {        
        transform: scale(100%);        
    }
}