@keyframes animate {
    25% {
      transform: rotateX(45deg) rotateY(65deg) rotateZ(35deg);
      top: 0%;
    }
  
    50% {
      transform: rotateX(145deg) rotateY(165deg) rotateZ(135deg);
      top: 10%;
    }
  
    75% {
      transform: rotateX(276deg) rotateY(256deg) rotateZ(246deg);
      top: 20%;
    }
  
    100% {
      transform: rotateX(376deg) rotateY(356deg) rotateZ(346deg);
      top: 30%;
    }
  }