.animationColor {
    animation: color-me-in 1.5s;
}

.animationScores {
    animation: scale-scores 1s;
}

@keyframes color-me-in {

    0% {
        transform: scale(75%);
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes scale-scores {

    0% {
        transform: scale(25%);
    }

    100% {
        transform: scale(100%);
    }
}

.animationBureau {
    animation: deplacement-bureau 2s;
}

@keyframes deplacement-bureau {
    from {
       transform:translateY(-700px);
    }

    to{
        transform: translateY(0px);
    }
}

.fadeOut {
    animation: fadeOut 1.5s;
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pulse{
    animation:pulse 2s infinite;
}

@keyframes pulse{
    from{
        transform:scale(95%);
    }
    to{
        transform:scale(105%);
    }
}
.shake{
    animation:shake 0.3s alternate infinite;
}

@keyframes shake{
    from{
        transform:translateX(-2px);
    }
    to{
        transform:translate(2px);
    }
}