/*Extra-small*/
@media screen and (min-width:0px) {
    .container-cube-3d {
        transform: scale(40%);
    }
    .joueurActif,.barreInfo{
        font-size:8px;
    }
    .score-courant,
    .score-total,
    .container-scores-joueur1,
    .container-scores-joueur2 {
        transform:scale(85%);
        font-size: 10px;
        margin:5px;
    }
    .container-scores{
        margin:5px;
        padding:0;
    }
}

/*Small*/
@media screen and (min-width:576px){
    .container-cube-3d {
        transform: scale(45%);
    }
    .score-courant{
        font-size: 10px;
    }
}
/*Medium*/
@media screen and (min-width:768px) {
    .container-cube-3d {
        transform: scale(40%);
    }
}
/*Large*/
@media screen and (min-width:992px) {
    .container-cube-3d {
        transform: scale(40%);
    }
}

/* Extra large*/
@media screen and (min-width:1200px) {
    .container-cube-3d {
        transform: scale(40%);
    }
}
/*Extra extra-large*/
@media screen and (min-width:1400px) {
    .container-cube-3d {
        transform: scale(40%);
    }
}