@import "/css/styles-cube-3d.css";
@import "/css/media-queries.css";

body{
    background-color: rgb(220, 220, 220);
    font-family: 'lato',sans-serif;
}
.historique{    
    overflow-y:scroll;
    padding: 10px;
    max-height:100px;   
}
.historique p{
    font-size: 0.7rem;
    font-style: italic;
    color: cornflowerblue;
    margin: 1px;
    padding: 1px;
    text-align: left; 
}

.pointsJ1,
.pointsJ2 {
    border: 1px solid lightgray;
    width: fit-content;
    padding: 25px;
    background-color: rgb(1, 107, 1);
    box-shadow: 2px 2px 2px 2px darkolivegreen;
    border: 1px solid darkgreen;
    border-radius: 10px;
}

.tapis-jeu{
    background-color: rgb(0, 86, 0);
    border-radius: 10px;    
    box-shadow: 4px 4px 4px 4px rgb(74, 74, 74);
    border: 1px solid darkolivegreen;    
    transition: 1s linear ease-in-out;
    height: 60vh;    
}
.selection {
    border: 5px solid gray;
    color: red;
}

.score-total{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.score-courant{
    font-size: 25px;
    color: darkgray;
    font-weight: bold; 
}

.barreInfo {
    height: 25px;
    color: black;
    font-size: 15px;
    overflow-x: scroll;
}
