#joueur1{
    border:1px solid lightgray;
}
#joueur2{
    border:1px solid lightgray;
}
#joueur1,
#joueur2{
    min-height:200px;
}

.selection{
    border:5px solid gray;
    color:red;
}

#score-total-joueur1,
#score-total-joueur2{
    font-size: 50px;
    color:red;
    
}